<div style="background-color: #99c2ff ">
  <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
      <div class="container-fluid" style="padding-right: 100px;">
        <a class="navbar-brand" style="padding-left: 0px;" routerLink="/">
          <img src="https://cemcosteel.com/app/uploads/2019/10/logo.png" alt="CEMCO">
        </a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target=".navbar-collapse"
                aria-label="Toggle navigation"
                [attr.aria-expanded]="isExpanded"
                (click)="toggle()">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
             [ngClass]="{ show: isExpanded }">


          <div class="dropdown col-xs-7">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Supply
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <!--<a class="dropdown-item" routerLink="/salesforecast">Sales Forecast</a>-->

              <a class="dropdown-item" routerLink="/SalesForecast/F_01" (click)="reset()">Sales Forecast</a>
              <a class="dropdown-item" routerLink="/CRUPricing/F_02" (click)="reset()">CRU Pricing</a>
              <a class="dropdown-item" routerLink="/PlannedBuy/F_03" (click)="reset()">Planned Buy / Transfers</a>
              <a class="dropdown-item" routerLink="/MarginTables/F_04" (click)="reset()">Margin Tables</a>

            </div>
          </div>
          <!--<button type="submit" class="parcel-btn weight-option" value="25" (click)="onItemSelector()"></button>
          <button type="submit" class="parcel-btn weight-option" value="50" (click)="onItemSelector()"></button>
          <button type="submit" class="parcel-btn weight-option" value="250" (click)="onItemSelector()"></button>-->
        </div>
      </div>
    </nav>
  </header>
</div>

<div>
  <form class="form-horizontal" (ngSubmit)="upload(file.files)">
    <div class="form-group">
      <div class="container" id="typeOf">
        <label *ngIf="typeOfFile=='F_01'" for="typeOf"><strong>Sales Forecast</strong></label>
        <label *ngIf="typeOfFile=='F_02'" for="typeOf"><strong>CRU Pricing</strong></label>
        <label *ngIf="typeOfFile=='F_03'" for="typeOf"><strong>Planned Buy / Transfers </strong></label>
        <label *ngIf="typeOfFile=='F_04'" for="typeOf"><strong>Margin Tables</strong></label>
        <div class="custom-file " *ngIf="displayBrowseFile">
          <input #file type="file" id="customFile" accept=".xls,.xlsx" multiple (change)="onFileChange($event, file)"
                 class="form-control-file" />
          <label class="custom-file-label" for="customFile">Choose file</label>
        </div>

        <div  *ngIf="displayMarginTables">
          <table>
            <tr>
              <td>
                <span><strong>Added Freight</strong></span>
                <br><br>
                <div class="row">
                  <div class="col-md-8"></div>
                  <div class="col-md-8">
                    <button class="btn btn-sm btn-success button" (click)="AddAddedFreightRecord()">Add</button>

                    <button class="btn btn-sm btn-danger" (click)="DeleteAddedFreightRecord()">Delete</button>

                    <button class="btn btn-sm btn-primary" (click)="SaveAddedFreightRecord()">Save</button>

                  </div>
                </div>
                <ag-grid-angular #addedFreightGrid
                                 style="width: 635px; height: 300px"
                                 class="ag-theme-balham"
                                 [columnDefs]="AddedFreightcolumnDefs"
                                 [rowData]="addedFreightrowData"
                                 rowSelection="multiple"
                                 (gridReady)="onAddedFreightGridReady($event)"
                                 (cellValueChanged)="onAddedFreightCellValueChanged($event)">
                </ag-grid-angular>
              </td>
              <td>
                <span><strong>Transfer Freight</strong></span>
                <br><br>
                <div class="row">
                  <div class="col-md-8"></div>
                  <div class="col-md-8">
                    <button class="btn btn-sm btn-success button" (click)="AddTransferFreightRecord()">Add</button>

                    <button class="btn btn-sm btn-danger" (click)="DeleteTransferFreightRecord()">Delete</button>

                    <button class="btn btn-sm btn-primary" (click)="SaveTransferFreightRecord()">Save</button>
                  </div>
                </div>
                <ag-grid-angular #transferFreightGrid
                                 style="width: 515px; height: 300px"
                                 class="ag-theme-balham"
                                 [columnDefs]="TransferFreightcolumnDefs"
                                 [rowData]="transferFreightrowData"
                                 rowSelection="multiple"
                                 (gridReady)="onTransferFreightGridReady($event)"
                                 (cellValueChanged)="onTransferFreightCellValueChanged($event)">
                </ag-grid-angular>
              </td>
            </tr>
            <tr>
              <td>
                <span><strong>Class Code Management</strong></span>
                <br><br>
                <div class="row">
                  <div class="col-md-8"></div>
                  <div class="col-md-8">
                    <button class="btn btn-sm btn-success button" (click)="AddClassCodeMgtRecord()">Add</button>

                    <button class="btn btn-sm btn-danger" (click)="DeleteClassCodeMgtRecord()">Delete</button>

                    <button class="btn btn-sm btn-primary" (click)="SaveClassCodeMgtRecord()">Save</button>
                  </div>
                </div>
                <ag-grid-angular #classCodeManagementGrid
                                 style="width: 635px; height: 300px"
                                 class="ag-theme-balham"
                                 [columnDefs]="ClassCodeManagementcolumnDefs"
                                 [rowData]="classCodeManagementrowData"
                                 rowSelection="multiple"
                                 (gridReady)="onClassCodeMgtGridReady($event)"
                                 (cellValueChanged)="onClassCodeMgtCellValueChanged($event)">
                </ag-grid-angular>
              </td>
              <td>
                <span><strong>Display Months</strong></span>
                <br><br>
                <div class="row">
                  <div class="col-md-8"></div>
                  <div class="col-md-8">
                    <button class="btn btn-sm btn-success button" (click)="AddDisplayMonthsRecord()">Add</button>

                    <button class="btn btn-sm btn-danger" (click)="DeleteDisplayMonthsRecord()">Delete</button>

                    <button class="btn btn-sm btn-primary" (click)="SaveDisplayMonthsRecord()">Save</button>
                  </div>
                </div>
                <ag-grid-angular #displayMonthsGrid
                                 style="width: 515; height: 300px"
                                 class="ag-theme-balham"
                                 [columnDefs]="DisplayMonthscolumnDefs"
                                 [rowData]="displayMonthsrowData"
                                 rowSelection="multiple"
                                 (gridReady)="onDisplayMonthsGridReady($event)"
                                 (cellValueChanged)="onDisplayMonthCellValueChanged($event)">
                </ag-grid-angular>
              </td>
            </tr>
          </table>
        </div>

        <div style="padding-left:18px; padding-top:5px; padding-bottom:7px" class="pt-2 row" id="datepicker-parent" *ngIf="displayDatePicker">
          <h6 class="from">Update date from :</h6>
          <div id="datepicker-child1" style="float: left; width: 15%;">
            <input id="fromdate" max="9999-12-31" [(ngModel)]="from" type="date" value=$event.target.value name="from">
          </div>
          <h6 class="to">To :</h6>
          <div id="datepicker-child2" style="float: left; width: 15%;">
            <input id="todate" max="9999-12-31" [(ngModel)]="to" type="date" value=$event.target.value name="to">
          </div>
        </div>


        <div id="errordata" class="table-wrap py-2" *ngIf="displayerrors" style="height:300px">
          <label style="color:red" for="errordata"><strong>List of all the errors in the excel file :</strong></label>
          <table style="border: 2px solid black; width: 100%;  " cellspacing=0 cellpadding=0 border="1" aria-labelledby="tableLabel">
            <thead style="height:50px; border:2px solid black">
              <tr style="height: 40px; border-bottom-width: 2px;">
                <td style="background-color: #cce6ff; text-align: center; border-bottom-width: 2px; width: 150px " scope="col">
                  <span style="color:red"><strong>ROW</strong></span>
                </td>
                <td style="background-color: #cce6ff; text-align: center; border-bottom-width: 2px; width: 150px " scope="col">
                  <span style="color:red"><strong>ERROR DESCRIPTION</strong></span>
                </td>
              </tr>
            </thead>

            <tbody style="height:50px; border:2px solid black">
              <tr style="height: 40px; border-bottom-width: 2px;" *ngFor="let error of errorlist">
                <td style="background-color: #cce6ff; text-align: center; border-bottom-width: 2px; width: 150px " scope="col">
                  {{ error.LineNumber }}
                </td>
                <td style="color:red;font-style:italic ; text-align: center; border-bottom-width: 2px; width: 150px " scope="col">
                  {{ error.ErrorMessage }}
                </td>

              </tr>
            </tbody>

          </table>
        </div>

        <div class="table-wrap" *ngIf="displayGrid">

          <table style="border: 2px solid black; position: sticky; top: 0; width: 100%; background-color: #80bfff;" class="container-fluid" cellspacing=0 cellpadding=0 border="1" aria-labelledby="tableLabel" *ngIf="data">

            <thead style="height:40px; border:2px solid black">
              <tr style="height: 40px; border-bottom-width: 2px;" *ngFor="let row of header">
                <th style=" background-color: #80bfff; text-align:center;border-bottom-width: 2px; width: 150px" scope="col" *ngFor="let title of row">
                  {{title}}
                </th>
              </tr>
            </thead>

          </table>
          <table style="border: 2px solid black; width: 100%;  " cellspacing=0 cellpadding=0 border="1" aria-labelledby="tableLabel" *ngIf="data">

            <thead style="height:50px; border:2px solid black">
              <tr style="height: 40px; border-bottom-width: 2px;" *ngFor="let row of data">
                <th style="background-color: #cce6ff; text-align: center; border-bottom-width: 2px; width: 150px " scope="col" *ngFor="let cell of row">
                  {{cell}}
                </th>
              </tr>
            </thead>

          </table>

        </div>


        <br><br>

        <div class="text-center" *ngIf="displayGrid">
          <input id="btnUpload" type="submit" class="btn btn-outline-primary mr-1" value="Upload" />
          <input id="btnReset" type="reset" class="btn btn-outline-secondary mr-1" value="Cancel" (click)="reset()" />
        </div>

      </div>
      </div>
  </form>
</div>
