<div class="container-fluid">
  <div class="row mt-2" style="padding-top:10px; padding-bottom:10px">
    <div class="col-lg-10" style="padding-left: 20px;">
      <a class="navbar-brand" [routerLink]="['/']">
        <img src="https://cemcosteel.com/app/uploads/2019/10/logo.png" class="img-responsive" alt="CEMCO">
      </a>
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button> -->
    </div>
    <div style="padding-top:10px; ">
      <select style="padding-right: 10px" name="typeOfFiles" class="custom-select" id="typeOfFileSelect" (change)="reset()" [(ngModel)]="typeOfFile">
        <option value="F_01" selected>Supply</option>
        <option value="F_01">Sales Forecast</option>
        <option value="F_02">CRU Pricing</option>
        <option value="F_03">PlannedBuy / Transfers</option>
      </select>
    </div>

  </div>
  <hr style="padding-top:50px">
</div>

<br>
<div>
  <form class="form-horizontal" (ngSubmit)="upload(file.files)">

    <div class="form-group">
      <div class="container">
        <div class="custom-file ">
          <input #file type="file" id="customFile" accept=".xls,.xlsx" multiple (change)="onFileChange($event, file)"
                 class="form-control-file" />
          <label class="custom-file-label" for="customFile">Choose file</label>
        </div>

        <div style="padding-left:18px; padding-top:5px; padding-bottom:7px" class="pt-2 row" id="datepicker-parent" *ngIf="display">
          <h6 class="from">Update date from :</h6>
          <div id="datepicker-child1" style="float: left; width: 15%;">
            <input class="form-control" [(ngModel)]="from" type="date" value=$event.target.value name="from">
          </div>
          <h6 class="to">To :</h6>
          <div id="datepicker-child2" style="float: left; width: 15%;">
            <input class="form-control" [(ngModel)]="to" type="date" value=$event.target.value name="to">
          </div>
        </div>


        <div class="table-wrap" *ngIf="displayGrid">

          <table style="border: 2px solid black; position: sticky; top: 0; width: 100%;" class="container-fluid" cellspacing=0 cellpadding=0 border="1" aria-labelledby="tableLabel" *ngIf="data">

            <thead style="height:50px; border:2px solid black">
              <tr style="height: 50px; border-bottom-width: 2px;" *ngFor="let row of header">
                <th style=" background-color: #80bfff; text-align:center;border-bottom-width: 2px; width: 150px" scope="col" *ngFor="let title of row">
                  {{title}}
                </th>
              </tr>
            </thead>

          </table>
          <table style="border: 2px solid black; width: 100%;  "  cellspacing=0 cellpadding=0 border="1" aria-labelledby="tableLabel" *ngIf="data">

            <thead style="height:50px; border:2px solid black">
              <tr style="height: 50px; border-bottom-width: 2px;" *ngFor="let row of data">
                <th style="background-color: #cce6ff; text-align: center; border-bottom-width: 2px; width: 150px " scope="col" *ngFor="let cell of row">
                  {{cell}}
                </th>
              </tr>
            </thead>

          </table>

        </div>
      

          <br><br>

          <div class="text-center">
            <input id="btnUpload" type="submit" class="btn btn-outline-primary mr-1" value="Upload" />
            <input id="btnReset" type="reset" class="btn btn-outline-secondary mr-1" value="Cancel" (click)="reset()" />
          </div>
        </div>
    </div>
  </form>
</div>
