.float-container {
    width: 50%;
}

.float-child {
    float: left;
    width: 50%;
}

.float-child1 {
  float: left;
  width: 33%;
}

.float-child2 {
  float: left;
  width: 33%;
}

.float-child3 {
  float: left;
  width: 33%;
}

.center {
  margin: auto;
  width: 50%;
}

.table-wrap {
  height: 400px;
  overflow-y: auto;
}
