<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">
        <img src="https://cemcosteel.com/app/uploads/2019/10/logo.png" alt="CEMCO">
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
    
    
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Supply
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" routerLink="/salesforecast">Sales Forecast</a>
          <a class="dropdown-item"  routerLink="/plannedbuy">PlannedBuy / Transfers</a>
          <a class="dropdown-item"  routerLink="/crupricing">CRU Planning</a>
        </div>
      </div>
    
    
      <!-- <div>
        {{typeOfFile}}
    </div> -->
      </div>
    </div>
  </nav>
</header>
