<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">
        <img src="https://cemcosteel.com/app/uploads/2019/10/logo.png" alt="CEMCO">
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
    
      <select class="form-select" id="typeOfFileSelect" [(ngModel)]="typeOfFile">
        <label class="custom-control-label" for="typeOfFileSelect">Supply</label>
        <option value="F_01" selected>Supply</option>
        <option value="F_01" >Sales Forecast</option>
        <option value="F_02">CRU Planning</option>
        <option value="F_03">PlannedBuy / Transfers</option>
        <option value="F_04">Margin Tables</option>
      </select>
    
    
      <!-- <div>
        {{typeOfFile}}
    </div> -->
      </div>
    </div>
  </nav>
</header>
