@import "~bootstrap/dist/css/bootstrap.css";
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";



a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.ag-cell-editor-autocomplete {
  background-color: white;
  max-height: 240px !important;
  max-block-size: 235px;
  scroll-behavior: inherit;
  height: auto !important;
  overflow-y: scroll;
  cursor: context-menu;
  font-size: 13px !important;
  cursor: pointer;
}
